::selection {
  color: white;
  background-color: #B64FC8;
}

::-moz-selection {
  color: white;
  background-color: #B64FC8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #eaeaea;
  background: #202945;
}

.container {
  margin: 40px 24%;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #BDBDBD;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: #D6A5E4;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
